{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "node": false
  },
  "plugins": [
    "standard",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "standard",
    "plugin:@typescript-eslint/recommended",
    "p5js",
    "p5js/sound"
  ],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["error", "always"],
    "array-callback-return": "error",
    "quote-props": ["error", "consistent"],
    "space-infix-ops": "off",
    "no-lone-blocks": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"
    }],
    "space-before-function-paren": ["error", {
      "named": "never",
      "anonymous": "always",
      "asyncArrow": "always"
    }],
    "@typescript-eslint/ban-ts-comment": ["error", { "ts-nocheck": "allow-with-description" }],
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "comma",
        "requireLast": true
      },
      "singleline": {
        "delimiter": "comma",
        "requireLast": false
      },
      "overrides": {
        "interface": {
          "multiline": {
            "delimiter": "semi",
            "requireLast": true
          }
        }
      }
    }],
    "@typescript-eslint/no-unused-vars": "off"
  },
  "ignorePatterns": ["*.js"],
  "globals": {
    "p5": "writable"
  }
}
